<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Message Book" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
      <script src="https://cdn.tailwindcss.com"></script>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload",  defer: true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full">
     <div class="relative flex min-h-full flex-col">
        <main>
         <%= render partial: "/layouts/partials/navs/header_nav" %>
         <%= yield %>
         <%= render partial: "/layouts/partials/footer" %>
        </main>
      </div>
  </body>
</html>
